<div class="container" style="background-color: #ADD8E6!important;width: 100%;min-height: 1000px;position: absolute ;">
  <div class="panel panel-heading"> <h1 style="font-family: monospace; text-align: center;">
    <img mat-card-image src="assets/images/reporting.jpg" style="max-width: 10rem;margin-top: 1rem;"></h1> 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div fxFlex style="text-align: center;">
              
                  <a class="mat-raised-button myButton" (click)="loadOperation('historiqueOperation');reinitialiser()"  style="margin-top: 1rem;margin-left: 1rem;"  mat-raised-button> Historique Opérations</a> 
             
                  <a class="mat-raised-button myButton" (click)="loadOperation('depense');reinitialiser();depenseop()"  style="margin-top: 1rem;margin-left: 1rem;"  mat-raised-button> Dépenses</a> 
                  <a class="mat-raised-button myButton" (click)="loadOperation('retrait');reinitialiser()"  style="margin-top: 1rem;margin-left: 1rem;"  mat-raised-button> Recettes</a> 
                  <a class="mat-raised-button myButton" (click)="loadOperation('retrait');reinitialiser()"  style="margin-top: 1rem;margin-left: 1rem;"  mat-raised-button> Réclamations</a> 
                  <a class="mat-raised-button myButton" (click)="loadOperation('retrait');reinitialiser()"  style="margin-top: 1rem;margin-left: 1rem;"  mat-raised-button> Caisse  </a> 
             
          </div>
        </div>
  </div>
  <div class="panel panel-bady">
    <form *ngIf="operation == 'historiqueOperation'" class="login-form" fxFlex style="margin-top: 1rem;margin: 10px;background: white;"  >
      <div class="row" style="box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span *ngIf="response == -1" class="btn btn-danger"><h3>Echec de création</h3></span>
            <span *ngIf="response == 1" class="btn btn-danger"><h3>Création reussi </h3></span>
         </div>
         <div fxFlex style="text-align: center;"><h1>Historique Opérations</h1></div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 2rem;box-shadow:  0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);;">
            <div class="row">
             
              <div class="col-lg-4 col-md-4 col-sm- col-xs-12">
               <div class="row">
                  <h3 style="color: #ADD8E6;">Date Par Jour:</h3>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                   
                    <div fxFlex style="text-align: center;">
                        <div class="md-form"> 
                            <input type="date" [ngModelOptions]="{standalone: true}" id="form1" [(ngModel)]="dateByDay"  class="form-control" aria-describedby="material-addon2"> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div fxFlex style="text-align: center; margin-left: -1rem;">
                        <button mat-raised-button color="primary" [disabled]="!dateByDay"   style="background-color: #43a047;" class="w-45" (click)="historiquejour()"><mat-icon>search</mat-icon></button>
                    </div>
                </div>
                </div>

              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                  <h3 style="color: #ADD8E6;">Date Par Intervalle:</h3>
                  <div class="row">
                     
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"> 
                            <input type="date" [ngModelOptions]="{standalone: true}" id="form1" [(ngModel)]="dateDebut"  class="form-control" aria-describedby="material-addon2"> 
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"> 
                            <input type="date" [ngModelOptions]="{standalone: true}" id="form2" [(ngModel)]="dateFin"  class="form-control" aria-describedby="material-addon2"> 
                        </div>
                    
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> 
                            <a class="mat-raised-button" [disabled]="!dateDebut && !dateFin"  style="background-color: #43a047;color: white;" (click)="historiqueintervalle()" mat-raised-button> <mat-icon>search</mat-icon></a> 
                        </div>
              </div>
            </div>
            </div>

          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 2rem;"><div fxFlex>
            <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
                <div fxFlex>
                        <div class="md-form "  fxFlex="40%"> 
                            <input [ngModelOptions]="{standalone: true}" type="text"(keyup)="doFilter($event.target.value)" placeholder="Filter" id="form1" style="width: 100%;" [(ngModel)]="dateDebut"  class="form-control" aria-describedby="material-addon2"> 
                        </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort  style="width: 100%;margin-top: 1rem;overflow-x: scroll" >
                        <ng-container matColumnDef="Date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                            <td mat-cell *matCellDef="let element"> {{this.getDate(element.dateoperation)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Service">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Service</th>
                            <td mat-cell *matCellDef="let element"> {{element.operateur}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Traitement">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Traitement </th>
                            <td mat-cell *matCellDef="let element"> {{element.traitement}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Montant">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
                            <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Client">
                            <th mat-header-cell *matHeaderCellDef> Client </th>
                            <td mat-cell *matCellDef="let element">
                            <a *ngIf="element.operateur!='TNT' && !element.traitement.toLowerCase().match('facture') && !element.traitement.toLowerCase().match('sde') && !element.traitement.toLowerCase().match('senelec') && !element.traitement.toLowerCase().match('rapido') && !element.traitement.toLowerCase().match('woyofal')">{{ trimer(element.infoclient) }} </a>
                            <button type="button" class="btn btn-success btn-sm" *ngIf="element.operateur=='TNT' || element.traitement.toLowerCase().match('facture')  || element.traitement.toLowerCase().match('sde')  || element.traitement.toLowerCase().match('senelec') || element.traitement.toLowerCase().match('rapido') || element.traitement.toLowerCase().match('woyofal')" (click)="reimprimerhistop(element)"> Réimprimer </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
      </div>
          </div>
      </div>
  </form> 
    <form *ngIf="operation == 'depense'" class="login-form" fxFlex style="margin-top: 1rem;margin: 10px;background: white;"  >
    <div class="row" style="box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span *ngIf="response == -1" class="btn btn-danger"><h3>Echec de création</h3></span>
        <span *ngIf="response == 1" class="btn btn-danger"><h3>Création reussi </h3></span>
        </div>
        <div fxFlex style="text-align: center;"><h1>Enregistrer une dépense</h1></div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5px;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div fxFlex style="text-align: center;">
                        <mat-form-field class=" w-100 md-form"> 
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="libelle" class="w-100"  matInput placeholder="Libelle charge">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div fxFlex style="text-align: center;">
                        <mat-form-field class=" w-100 md-form"> 
                            <input [ngModelOptions]="{standalone: true}" type="number" [(ngModel)]="montant" class="w-100"  matInput placeholder="Montant de la dépense">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div fxFlexFill>
                        <mat-form-field class=" w-100 md-form"> 
                            <mat-label>Service concerné</mat-label>
                            <mat-select  [(value)]="service">
                                <mat-option *ngFor="let food of servicepoint" [value]="food.nom">
                                {{food.nom}}
                                </mat-option>
                            </mat-select>                        
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <div  fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 1rem;">
                <div fxFlex style="text-align: center;">
                    <button mat-raised-button color="primary" [disabled]="!libelle && !montant && !service"  style="background-color: #43a047;" class="w-45" (click)="validCharge()">Valider</button>
                    <button mat-raised-button color="primary" style="background-color: #a04343;margin-left: 1rem;"  class="w-45" (click)="reinitialiser()">Annuler</button>
                </div>
            </div>
        </div>
        
    </div>
    </form> 
  </div>
</div>

<div *ngIf="loading">
    <div style="position: absolute ; left: 15%; top:25%; min-width: 100rem ; min-height: 40rem ;text-align: -webkit-center; padding-top: 10%; z-index:1000; background-color: white; opacity: 0.4;">
    <div class="loader">
        <div class="ball-pulse">
        <div></div>
        <div></div>
        <div></div>
        </div>
    </div>  
    </div>
</div>