.runningTask{
border : 1px solid white;
padding: 0.2rem  ;
margin-right: 1rem ;
}

.runner{
border: 1px solid white;
padding: 3px !important
}

.runningService{
margin-right: 1rem ;
color: white ;
}

.pendingTask{
    margin-left: 0rem ;
    margin-right: -3rem ;
    background-color: #337ab7 ;
    padding-left: 2rem ;
    color: white;
    border-radius: 2rem 0rem 2rem 2rem ;
    margin-top: 0.5rem ;
}

.pendingTask div{
    display: inline-block;
}

.pendingTask a{
    color : white;
}

.pendingTask a:hover{
    text-decoration: underline;
}
